# Rename this file to config.py and put your NYT API keys here:
# articleKey for Article Search API
# commentKey for Community API
[API_KEY]
articleKey = 0000your:key:here
commentKey = 0000your:key:here

